*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: $SpaceMono;  
} 

p{
  font-family: $LexendDece;
}

body {
  font-family: $LexendDece;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: $font-weight-400;
  font-size: $font-size-15;
  line-height: $line-height-15;
  // overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;

  // @include responsive(desktop) {
  //   padding-left: 3rem;
  //   padding-right: 3rem;
  // }

  // @include responsive(tablet) {
  //   padding-left: 1.5rem;
  //   padding-right: 1.5rem;
  // }

  // @include responsive(phone) {
  //   padding-left: 1rem;
  //   padding-right: 1rem;
  // }
}

// .m_container{
//   width: 100%;
//   max-width: 1100px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 2rem;
//   padding-right: 2rem;
// }
.main {
  flex-grow: 1;
}

input {
  outline: none;
  background-color: transparent;
}


